<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css">
    <link rel="icon" href="logo.png">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
            <div class="steps-content">
                {{ steps[activeIndex].text }}
            </div>

            <ul class="steps-list">
                <li
                    class="steps-item"
                    :class="{
                    'active': activeIndex === idx
                    }"
                    v-for="(step, idx) in steps"
                    @click="setActive(idx)"
                    :data-step="idx + 1"
                >
                    <span @click.stop>{{ step.title }}</span>
                </li>
            </ul>

            <div v-if="isCurrent">
                <button class="btn" @click="prev" :disabled="isDisabled">Назад</button>
                <button class="btn primary" @click="nextOfFinish">{{ lastStep ? 'завершить' : 'Вперед' }}</button>
            </div>
            <button class="btn" v-else @click="reset">начать заного</button>
        </div>
    </div>
</div>

<script src="vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>
