<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css">
    <link rel="icon" href="logo.png">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
            <div class="steps-content">
                {{ currentStep.text }}
            </div>

            <ul class="steps-list">
                <li
                    class="steps-item"
                    :class="{
                    'active': activeIndex === idx
                }"
                    v-for="(step, idx) in steps"
                    :key="step"
                >
                    <span class="steps-item__num"
                          @click="setActive(idx)">{{ idx + 1 }}</span> {{ step.title }}
                </li>
            </ul>

            <div v-if="activeIndex !== 5">
                <button class="btn" :disabled="isDisabled" v-on:click="prev">Назад</button>
                <button class="btn primary" v-on:click="nextOfFinish">{{ nameBtn }}</button>
            </div>
            <button class="btn" @click="reset" v-else>Начать заново</button>
        </div>
    </div>
</div>

<script src="vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>
