<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css"/>
</head>
<body>
<div class="container" id="app">
    <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
            <div class="steps-content">
                {{ steps[currentlyStep].text }}
            </div>

            <ul class="steps-list">
                <li class="steps-item" :class="idx === currentlyStep ? 'active' : ''"
                    v-for="(item, idx) in steps"
                    :data-step="idx+1"
                    @click="setActive(idx)">
                    <span>{{ item.title }}</span>
                </li>
            </ul>

            <div v-if="isActive">
                <button class="btn" :class="isDisabled ? 'disabled' : ''" @click="prev">Назад</button>
                <button class="btn primary" @click="nextOfFinish">
                    {{ isLastStep ? 'закончить' : 'Вперед' }}
                </button>
            </div>
            <button class="btn" @click="reset" v-else>Начать заново</button>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
